<%= form_for(@slam) do |f| %>
  <% if @slam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slam.errors.count, "error") %> prohibited this slam from being saved:</h2>

      <ul>
      <% @slam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :medium_first_id %>
    <%= f.hidden_field :medium_first_id, value: @slam.medium_first_id %>
  </div>
  <div class="field">
    <%= f.label "Select a picture to slam with your picture" %><br>
    <%#= f.text_field :medium_second_id %>
    
    <% Medium.where(is_private: false).each do |medium| %>
    
   <%= f.radio_button :medium_second_id, medium.id%> <%= f.label :medium_second_id, image_tag(medium.picture_url(:thumb))%>
    
    <% end %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
