<h1>Listing slams</h1>

<table>
  <thead>
    <tr>
      <th>Media id first</th>
      <th>Media id second</th>
      <th> Vote </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slams.each do |slam| %>
      <tr>
        <td><%= slam.medium_first_id %></td>
        <td><%= slam.medium_second_id %></td>
        <td><%= link_to 'Check Vote', slam_user_votes_path(slam)  %></td>
        <td><%= link_to 'Vote', slam %></td>
        <td><%= link_to 'Edit', edit_slam_path(slam) %></td>
        <td><%= link_to 'Destroy', slam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if params[:medium_id]%>
  <%= link_to 'New Slam', new_medium_slam_path(params[:medium_id]) %> |
  <%= link_to 'Back', medium_path(params[:medium_id]) %>
<%else%>
  <%= link_to 'New Slam', new_slam_path %>
<%end%>
