<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to 'Vote to Media id first:',  first_liked_slam_user_votes_path(@slam) %></strong>
  <%= @slam.medium_first_id %>
</p>

<p>  
  <strong><%= link_to 'Vote to Media id second:',  second_liked_slam_user_votes_path(@slam) %></strong>
  <%= @slam.medium_second_id %>
</p>

<%#= link_to 'Edit', edit_slam_path(@slam) %> |

