<p id="notice"><%= notice %></p>

<p>
  <strong>Media id first:</strong>
  <%= @slam.media_id_first %>
</p>

<p>
  <strong>Media id second:</strong>
  <%= @slam.media_id_second %>
</p>

<%= link_to 'Edit', edit_slam_path(@slam) %> |
<%= link_to 'Back', slams_path %>
