<p>
  <strong>Group name:</strong>
  <%= @user_group.group_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_group.user_id %>
</p>

<p>
  <%= link_to 'View Members', user_group_members_path(@user_group) %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
