<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @medium.picture_url %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @medium.caption %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @medium.is_private %>
</p>

<p>
  <strong>User:</strong>
  <%= @medium.user_id %>
</p>

<p> 
 <%#= link_to 'Add Comment', medium_new_comment_path(@medium) %>
  <%= render partial: 'comment_form', locals: {medium: @medium, comment: @medium.comments.build} %>
</p>



<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Slams', medium_slams_path(@medium.id) %> |
<%= link_to 'Back', media_path %>
