<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @medium.picture_url %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @medium.caption %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @medium.is_private %>
</p>

<p>
  <strong>User:</strong>
  <%= @medium.user_id %>
</p>


<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Slams', medium_slams_path(@medium.id) %> |
<%= link_to 'Back', media_path %>

<p> 
 <%#= link_to 'Add Comment', medium_new_comment_path(@medium) %>
  <%= render partial: 'comment_form', locals: {medium: @medium, comment: @medium.comments.build} %>
</p>

<p>
 <h1> User's comments </h1>
 <table>
   <tr><th>User</th><th>title</th><th>Comment</th></tr>
   <% @comments.each do |com| %>
     <tr><td><%= com.user_id %></td><td><%= com.title %></td><td><%= com.comment %></td><td><%= link_to 'Delete', medium_comment_path(id: com.id, medium_id: @medium.id), method: :delete, data: {confirm: 'Are you sure?'} %> </tr>
   <% end %>
 </table>
   
</p>
