<%= form_for(@group_share) do |f| %>
  <% if @group_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_share.errors.count, "error") %> prohibited this group_share from being saved:</h2>

      <ul>
      <% @group_share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :media_id %><br>
    <%= f.text_field :media_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
